button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
    color: blue;
    border: 1px solid #d3d3d3;
}

button img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}